<div class="content-section-a">
    <div class="container">
        <div class="row" style="margin-top: 15px;">
          <div id="mideastunes-embedable-player_207037502850045766179297384062550462907">Loading mideas&#183;tunes player...song id</div><script type="text/javascript" src="http://mideastunes.com/player-for-embed-collection-and-single?songId=207037502850045766179297384062550462907"></script>
        </div>

        <div class="row" style="margin-top: 15px;">
          <div id="mideastunes-embedable-player_199512466782757662440686382553372747371">Loading mideas&#183;tunes player...collection id</div><script type="text/javascript" src="http://mideastunes.com/player-for-embed-collection-and-single?collectionId=199512466782757662440686382553372747371"></script>
        </div>

        <div class="row" style="margin-top: 15px;">
          <div id="mideastunes-embedable-player_237299762930434512854111917574630657112">Loading mideas&#183;tunes player...user id</div><script type="text/javascript" src="http://mideastunes.com/player-for-embed-collection-and-single?userId=237299762930434512854111917574630657112"></script>
        </div>
    </div>
</div>
